# Soap Data Science

&copy; Copyright 2024-2025 [soap.fyi](https://soap.fyi). All rights reserved.

In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2

# Load environment variables from .env file
load_dotenv()

# Access the variables
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT', '5432')
db_name = os.getenv('DB_NAME')
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASS')

db_connection_str = None # Initialize
engine = None # Initialize

if not all([db_host, db_name, db_user, db_pass]):
    print("ERROR: Database credentials not fully loaded from .env or environment.")
    print("Please ensure DB_HOST, DB_NAME, DB_USER, and DB_PASS are in your .env file or environment.")
else:
    print("Database credentials loaded successfully.")
    # Construct the SQLAlchemy connection string
    db_connection_str = f'postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}'
    try:
        engine = create_engine(db_connection_str)
        
        # Test connection with a simple query
        # Use a context manager for the connection to ensure it's closed
        with engine.connect() as connection:
            # Wrap the SQL string in text() for direct execution
            result = connection.execute(text("SELECT version();"))
            version_row = result.fetchone() # Fetch one row
            if version_row:
                print(f"\nConnection to PostgreSQL successful! Version: {version_row[0]}")
            else:
                print("\nConnection to PostgreSQL successful, but version query returned no result.")
            # The connection is automatically closed when exiting the 'with' block
            
    except Exception as e:
        print(f"\nFailed to create SQLAlchemy engine or connect: {e}")
        engine = None # Ensure engine is None if connection failed

Database credentials loaded successfully.

Connection to PostgreSQL successful! Version: PostgreSQL 16.8 (Debian 16.8-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit

In [9]:
if engine:
    sql_query_with_unique_voters = """
    SELECT
        W.word_id,                      
        W.word,
        COUNT(V.vote_id) AS total_votes,
        COUNT(DISTINCT V.user_id) AS unique_voters
    FROM
        words W
    INNER JOIN
        votes V ON W.word_id = V.word_id
    GROUP BY
        W.word_id, W.word  -- Group by ID and text
    ORDER BY
        total_votes DESC; 
    """
    try:
        print("--- Query: All words, total votes, and unique voter counts ---")
        print(sql_query_with_unique_voters)
        df_query_with_unique_voters = pd.read_sql_query(sql_query_with_unique_voters, engine)
        display(df_query_with_unique_voters)
    except Exception as e:
        print(f"Error executing query: {e}")
else:
    print("Database engine not available. Please run the connection cell first.")

--- Query: All words, total votes, and unique voter counts ---

    SELECT
        W.word_id,
        W.word,
        COUNT(V.vote_id) AS total_votes,
        COUNT(DISTINCT V.user_id) AS unique_voters
    FROM
        words W
    INNER JOIN
        votes V ON W.word_id = V.word_id
    GROUP BY
        W.word_id, W.word  -- Group by ID and text
    ORDER BY
        total_votes DESC;

    word_id         word  total_votes  unique_voters
0         4      ethical           53              8
1        11      corrupt           50              7
2        10         evil           43              7
3        78      hateful           38              6
4        67  progressive           35              5
..      ...          ...          ...            ...
76      119         kind            1              1
77       65          cop            1              1
78      145      asshole            1              1
79      143    socialist            1              1
80       61      bloated            1              1

[81 rows x 4 columns]

In [3]:
if engine:
    sql_query = """
    SELECT
        P.name,
        P.politician_id,
        COUNT(V.vote_id) AS votes
    FROM
        politicians P
    INNER JOIN
        votes V ON P.politician_id = V.politician_id
    GROUP BY
        P.politician_id, P.name
    ORDER BY
        votes DESC;
    """
    try:
        print("--- Query: All politicians, their IDs, and number of submissions ---")
        print(sql_query)
        df_query = pd.read_sql_query(sql_query, engine)
        display(df_query)
    except Exception as e:
        print(f"Error executing query: {e}")
else:
    print("Database engine not available. Please run the connection cell first.")

--- Query: All politicians, their IDs, and number of submissions ---

    SELECT
        P.name,
        P.politician_id,
        COUNT(V.vote_id) AS votes
    FROM
        politicians P
    INNER JOIN
        votes V ON P.politician_id = V.politician_id
    GROUP BY
        P.politician_id, P.name
    ORDER BY
        votes DESC;

                        name  politician_id  votes
0               Donald Trump              1    433
1             Bernie Sanders              2     75
2                Cory Booker              3     65
3                   Ted Cruz              5     49
4   Alexandria Ocasio-Cortez             36     41
5            Mitch McConnell            599     39
6                   JD Vance            591     37
7               Jamie Raskin              4     31
8               Pete Hegseth            600     24
9                 Eric Adams            595     20
10          Elizabeth Warren            597     15
11              Chris Murphy            601     14
12           Tammy Duckworth            613     14
13            Lindsay Graham            614      9
14              John Kennedy            617      7
15                Tom Cotton            594      6
16          Jasmine Crockett            619      2
17               Dick Durbin            590      2
18              Ron DeSantis            598      1
19                Joni Ernst            616      1

In [4]:
if engine:
    # --- Set the target politician ID ---
    target_politician_id = 1
    # --- ---

    sql_query = """
    SELECT
        W.word,
        W.word_id,
        COUNT(V.vote_id) AS votes
    FROM
        words W
    INNER JOIN
        votes V ON W.word_id = V.word_id
    WHERE
        V.politician_id = %(pol_id)s
    GROUP BY
        W.word_id, W.word
    ORDER BY
        votes DESC;
    """
    try:
        print(f"--- Query: Words and their IDs for Politician ID {target_politician_id} ---")
        print(sql_query)
        df_query = pd.read_sql_query(sql_query, engine, params={'pol_id': target_politician_id})
        display(df_query)
    except Exception as e:
        print(f"Error executing query: {e}")
else:
    print("Database engine not available. Please run the connection cell first.")

--- Query: Words and their IDs for Politician ID 1 ---

    SELECT
        W.word,
        W.word_id,
        COUNT(V.vote_id) AS votes
    FROM
        words W
    INNER JOIN
        votes V ON W.word_id = V.word_id
    WHERE
        V.politician_id = %(pol_id)s
    GROUP BY
        W.word_id, W.word
    ORDER BY
        votes DESC;

             word  word_id  votes
0         corrupt       11     37
1           cruel       35     28
2         selfish       14     27
3            evil       10     23
4          greedy      110     23
5    narcissistic       17     21
6         traitor      142     20
7          insane        9     19
8         russian       96     17
9       dangerous      105     17
10       dictator        8     16
11      seditious      130     15
12      sociopath      129     14
13         genius       51     14
14           nazi        5     12
15          scary       95     12
16        hateful       78     10
17   intransigent        3     10
18     disgusting      104      9
19      unethical      106      9
20     malevolent       77      8
21      insidious      122      8
22     kleptocrat      139      7
23   cold-blooded      126      7
24        chaotic       79      6
25          lucky       63      5
26         orange       92      4
27        borders      109      4
28        scumbag      127      4
29       mobility      107      4
30  unintelligent       54      4
31       autocrat      140      3
32          clown       52      3
33       deranged      121      3
34      orwellian       74      3
35     impressive       15      2
36         sloppy       62      2
37        bloated       61      1
38        asshole      145      1
39      ergonomic      108      1

In [5]:
if engine:
    sql_query = """
    SELECT
        W.word,
        COUNT(V.vote_id) AS votes,
        COUNT(DISTINCT V.politician_id) AS politicians
    FROM
        words W
    INNER JOIN
        votes V ON W.word_id = V.word_id
    GROUP BY
        W.word_id, W.word
    HAVING
        COUNT(DISTINCT V.user_id) = 1  -- Filter for words with exactly one unique voter
    ORDER BY
        votes DESC;
    """
    try:
        print("--- Query: Words with one unique voter ---")
        print(sql_query)
        df_query = pd.read_sql_query(sql_query, engine)
        if not df_query.empty:
            display(df_query)
        else:
            print("No words found with only one unique voter.")
    except Exception as e:
        print(f"Error executing query: {e}")
else:
    print("Database engine not available. Please run the connection cell first.")

--- Query: Words with one unique voter ---

    SELECT
        W.word,
        COUNT(V.vote_id) AS votes,
        COUNT(DISTINCT V.politician_id) AS politicians
    FROM
        words W
    INNER JOIN
        votes V ON W.word_id = V.word_id
    GROUP BY
        W.word_id, W.word
    HAVING
        COUNT(DISTINCT V.user_id) = 1  -- Filter for words with exactly one unique voter
    ORDER BY
        votes DESC;

            word  votes  politicians
0          clown     28            4
1      seditious     15            1
2     courageous     10            2
3      insidious      8            1
4     kleptocrat      7            1
5   cold-blooded      7            1
6     loquacious      7            1
7        useless      6            1
8      honorable      6            1
9      heartless      6            1
10         lucky      5            1
11       scumbag      4            1
12      mobility      4            1
13       borders      4            1
14      deranged      3            1
15    principled      3            1
16      autocrat      3            1
17      backward      3            2
18      eloquent      3            2
19    reasonable      2            1
20       asshole      1            1
21      retiring      1            1
22       bloated      1            1
23           cop      1            1
24     sycophant      1            1
25         silly      1            1
26         sharp      1            1
27     ergonomic      1            1
28          kind      1            1
29          what      1            1
30        legend      1            1
31       awesome      1            1
32     socialist      1            1
33   hardworking      1            1

In [6]:
if engine:
    sql_query = """
    SELECT
        W.word,
        COUNT(V.vote_id) AS votes,
        COUNT(DISTINCT V.politician_id) AS politicians,
        COUNT(DISTINCT V.user_id) AS submitters
    FROM
        words W
    INNER JOIN
        votes V ON W.word_id = V.word_id
    GROUP BY
        W.word_id, W.word
    HAVING
        COUNT(DISTINCT V.user_id) >= 2  -- Filter for words with at least two unique submitters
    ORDER BY
        submitters DESC, votes DESC;
    """
    try:
        print("--- Query: Words with >= 2 unique submitters ---")
        print(sql_query)
        df_query = pd.read_sql_query(sql_query, engine)
        if not df_query.empty:
            display(df_query)
        else:
            print("No words found with at least two unique submitters.")
    except Exception as e:
        print(f"Error executing query: {e}")
else:
    print("Database engine not available. Please run the connection cell first.")

--- Query: Words with >= 2 unique submitters ---

    SELECT
        W.word,
        COUNT(V.vote_id) AS votes,
        COUNT(DISTINCT V.politician_id) AS politicians,
        COUNT(DISTINCT V.user_id) AS submitters
    FROM
        words W
    INNER JOIN
        votes V ON W.word_id = V.word_id
    GROUP BY
        W.word_id, W.word
    HAVING
        COUNT(DISTINCT V.user_id) >= 2  -- Filter for words with at least two unique submitters
    ORDER BY
        submitters DESC, votes DESC;

              word  votes  politicians  submitters
0          ethical     53            7           8
1     narcissistic     21            1           8
2          corrupt     50            3           7
3             evil     43            4           7
4             wise     17            2           7
5          hateful     38            5           6
6           humane     24            2           6
7        patriotic     17            3           6
8         dictator     16            1           6
9      progressive     35            6           5
10       inspiring     30            3           5
11           cruel     28            1           5
12         selfish     27            1           5
13          stupid     13            3           5
14           scary     12            1           5
15          insane     19            1           4
16          genius     14            1           4
17          cretin      9            3           4
18      malevolent      8            1           4
19         chaotic      6            1           4
20  constitutional      6            1           4
21     incompetent     21            2           3
22       dangerous     17            1           3
23       sociopath     14            1           3
24    intransigent     10            1           3
25           smart      8            5           3
26           brave      4            1           3
27           moral      4            1           3
28       orwellian      3            1           3
29          greedy     23            1           2
30         traitor     20            1           2
31         russian     17            1           2
32        soulless     17            1           2
33            nazi     12            1           2
34      impressive     12            2           2
35       competent     10            4           2
36       unethical      9            1           2
37      disgusting      9            1           2
38     ineffectual      7            1           2
39            dumb      6            1           2
40          stooge      6            1           2
41        decrepit      5            1           2
42          orange      4            1           2
43   unintelligent      4            1           2
44      fraudulent      4            1           2
45   compassionate      3            1           2
46          sloppy      2            1           2